@charset "utf-8";
/*header*/
.content{ width:1200px; margin:0 auto; position:relative;}
.login_ul li {float:left}
.login_ul li:hover ul {display:block; position:absolute;height:auto; overflow:hidden}
/*城市切换弹出样式*/
.topCity:hover .indexCity {display:block; position:absolute}
.dishi_new:hover .indexCitya {display:block; position:absolute}
.indexCity li a {margin-left:10px;}
.indexCitya a {margin-right:10px;}
/*搜索样式*/
.input_boxs img { float: left; height: 32px; width: 32px;}
.input_boxs input {border: 0 none !important;color: #dddddd;float: left;font-size: 12px;height: 25px;line-height: 25px;outline: 0 none;width: 420px;}
#lx_nav #voucha_1 {padding-top:10px;}
#lx_nav #voucha_2 {padding-top:10px;}
.lx-con li {margin-top:5px;}
#lx_nav { zoom: 1; }
#lx_nav li {  font-family: "微软雅黑", serif; float: left;width:80px; height: 32px; line-height: 32px; font-size: 12px; color: #fff;  cursor: pointer; text-align:center }
#lx_nav .li01 { background-color: #ff8201; }
#lx_nav .li02 { color: #777777}
.input_boxs a {	background-color: #ff8200;color: White;display: block;	float: right;font-size: 16px;height: 32px;line-height: 32px;text-align: center;width: 90px;}
.a_link a { padding: 0 8px; color: #9b9b9b; text-decoration: none;}
.middle .crk{ width:450px; height:32px; position:relative;}
.middle .crk a{ cursor:pointer; float:left; display:block; font-family:"宋体"; font-size:12px; line-height:32px; text-align:center; color:#777777; width:80px; height:32px; background:#ffffff;}
.middle .crk_yes{ background:#ff8201 !important; color:#ffffff !important;}
/*cart*/
.head_recommend{ display:block; float:left; margin-left:35px;width: 250px;}
.cart {position:relative;width: 140px;height: 32px;border: 1px solid #DFDFDF;text-align: center;line-height: 28px;margin-top: 32px;margin-left: 60px;background: url("../images/cart.png") 15px -50px no-repeat}
.cart a{font-family: 宋体;}
.cart .cart_right{right: 10px;top:9px;width: 7px;height: 13px;position: absolute;font:400 12px/12px simsun}
.cart .cart_count{right: 25px;top:-5px;position: absolute;font:400 13px/13px simsun;background-color:#c81623;border-radius: 7px 7px 7px 0;
    font-size: 12px;color: #fff; padding: 1px 2px;}
/*导航菜单*/
.menu{ width:100%; background:#ff8200; height:45px; z-index:999;}
.menu_01{ display:block; float:left; margin-right:20px;}
.menu .toptiocs {display:block; float:left;}
.menu .toptiocs li{display:block; float:left; width:120px; height:45px;}
.menu .toptiocs  li a { color: #fff;cursor: pointer;display: block;float: left;font-family:"Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53, sans-serif;font-size: 16px;height: 45px;line-height: 45px;padding-left: 30px; text-align: left;width: 120px;}
.menu .toptiocs  li a:hover{ background:url(../img_head/headmain_bg.jpg) no-repeat 20px 17px; color:#fff;font-weight:bold}
.menu .toptiocs  li .headmain_bg{ background:url(../img_head/headmain_bg.jpg) no-repeat 20px 17px; color:#fff;}
.menu .toptiocsa{ cursor:pointer; display:block; width:190px;height:45px;}

/*左侧菜单*/
.head_top .main .main_01:hover .meun_down{ display:block }
.meun_down {width: 190px;height: 420px;left: 0;top: 0;float: left; /*display:none;*/position: absolute;background:#fff;margin-top:45px; }
.meun_down li {width:129px;height:59px;padding-left:60px;line-height:59px;font-size:14px;border-bottom:1px solid #e8e8e8;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;color:#6d6d6d;}
.down_00 {background:#fafafa url(../img_head/indexmian01.png) no-repeat}
.down_01 {background:#fafafa url(../img_head/indexmian02.png) no-repeat}
.down_02 {background:#fafafa url(../img_head/indexmian03.png) no-repeat}
.down_03 {background:#fafafa url(../img_head/indexmian04.png) no-repeat}
.down_04 {background:#fafafa url(../img_head/indexmian05.png) no-repeat}
.down_05 {background:#fafafa url(../img_head/indexmian06.png) no-repeat}
.down_06 {background:#fafafa url(../img_head/indexmian07.png) no-repeat}
.down_00:hover {background:#fff url(../img_head/indexmian01a.png) no-repeat;border-right:1px solid #fff;}
.down_01:hover {background:#fff url(../img_head/indexmian02a.png) no-repeat;border-right:1px solid #fff;}
.down_02:hover {background:#fff url(../img_head/indexmian03a.png) no-repeat;border-right:1px solid #fff;}
.down_03:hover {background:#fff url(../img_head/indexmian04a.png) no-repeat;border-right:1px solid #fff;}
.down_04:hover {background:#fff url(../img_head/indexmian05a.png) no-repeat;border-right:1px solid #fff;}
.down_05:hover {background:#fff url(../img_head/indexmian06a.png) no-repeat;border-right:1px solid #fff;}
.down_06:hover {background:#fff url(../img_head/indexmian07a.png) no-repeat;border-right:1px solid #fff;}
.meun_down li a:hover {color:#ff8201;}
.down_00:hover .down_00_ul{ display:block  }
.down_01:hover .down_01_ul{ display:block  }
.down_02:hover .down_02_ul{ display:block  }
.down_03:hover .down_03_ul{ display:block  }
.down_04:hover .down_04_ul{ display:block  }
.down_05:hover .down_05_ul{ display:block  }
.down_06:hover .down_06_ul{ display:block  }
.down_00_ul,.down_01_ul,.down_02_ul,.down_03_ul,.down_04_ul,.down_05_ul,.down_06_ul { position:absolute;border: 1px solid #dbdbdb;border-left:0px solid #fff;/*border-left: #fbfbfb 5px solid;*/width: 755px;min-height:390px;height:auto !important;height:390px;overflow:visible;display:none;background: #ffffff;-webkit-box-shadow: #666 0px 0px 3px;-moz-box-shadow: #ccc 0px 0px 3px;box-shadow: #ccc 4px 2px 3px;padding-bottom:17px;}
.down_00_ul {margin:-59px 0 0 130px;*margin:-20px 0 0 64px;}
.down_01_ul {margin:-119px 0 0 130px;*margin:-80px 0 0 64px;}
.down_02_ul {margin:-179px 0 0 130px;*margin:-140px 0 0 98px;}
.down_03_ul {margin:-239px 0 0 130px;*margin:-200px 0 0 98px;}
.down_04_ul {margin:-299px 0 0 130px;*margin:-260px 0 0 98px;}
.down_05_ul {margin:-359px 0 0 130px;*margin:-320px 0 0 98px;}
.down_06_ul {margin:-419px 0 0 130px;*margin:-380px 0 0 98px;}
.indexmianleft04_a {  position: absolute; z-index: 1; left: 100px; border:0; width: 57px; height: 59px;}

.down_ul {width:650px;height:49px;margin:0 20px ;line-height:49px;font-size:12px;border-bottom:1px solid #f3f3f3}
.down_ul_a {width:650px;margin:0 20px ;line-height:30px;font-size:12px;}
.span_s {color:#ccc;margin:0 10px}
.f_lh_a{min-height:39px;height:auto !important;height:39px;overflow:visible;float:left;}
.span_font_a {line-height:30px !important;float:left;margin:-39px 0 0 45px;width:606px}
.span_font_a a{float:left; min-width:10px;width:auto !important;width:10px;overflow:visible;}
.f_lh {min-height:100px;height:auto !important;height:100px;overflow:visible;float:left;}
.span_font {line-height:30px !important;float:left;margin:-100px 0 0 45px;width:606px}
.span_font a{float:left; min-width:70px;width:auto !important;width:70px;overflow:visible;}
.customer{position: fixed;bottom:10px;right:10px;width: 48px;}
.customer img{width:48px;height: 48px; margin: 0 auto}
.customer p{  font-family: \5FAE\8F6F\96C5\9ED1, verdana, serif;  color: #777777;font-size: 12px}
